@using AqaratProject.Models
@model List<Property>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Admin Page </title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&#038;display=swap" rel="stylesheet" />
</head>

<body>
    <!-- Start Header -->
    <div class="header" id="header">
        <div class="container">
            <a href="home.html" class="logo"> Real <img src="~/img/logo.jpg"> Estate </a>
            <ul class="main-nav">
                <li><a class="lo" style="color: red;" href="~/Home/HomePage"> Logout </a></li>
            </ul>
        </div>
    </div>
    <!-- End Header -->
    <!-- Start Landing -->
    <div class="landing">
        <div class="container">
            <div class="text">
                <h1> Welcome, To " AQrat " </h1>
                <p> Here I will share everything about real estate, selling, renting, booking rooms </p>
            </div>
            <div class="image">
                <img src="~/img/contain.jpg" alt="" />
            </div>
        </div>
        <a href="#articles" class="go-down">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
    </div>
    <!-- End Landing -->
    <!-- Start Users -->
    <div class="articles" id="articles">
        <h2 class="main-title"> Properties </h2>
        <div class="container">
            @foreach (var prop in Model)
            {
                <div class="box move">
                    <img src="~/img/@prop.property_image" alt="" />
                    <div class="content">
                        <h3>Price @prop.price</h3>
                        <p>Size @prop.size M</p>
                        <p> Address @prop.address
                    </div>
                    <form class="info" action="/Admin/DeleteProperty/@prop.id">
                        <input type="submit"  value="Delete" class="delt" onclick="fun();">
                    </form>
                </div>
            }

        </div>
    </div>
    <div class="right"><i class="fa-solid fa-circle-arrow-left fa-4x"></i></div>
    <div class="left"><i class="fa-solid fa-circle-arrow-right fa-4x"></i></div>
    <!-- End Users -->
    <!-- Start Events -->
    <div class="events" id="events">
        <div class="dots dots-up"></div>
        <div class="dots dots-down"></div>
        <h2 class="main-title">Latest Events</h2>
        <div class="container">
            <img src="i~/mg/event.jpg" alt="" />
            <div class="info">
                <div class="time">
                    <div class="unit" id="days">
                        <span>0</span>
                        <span>Days</span>
                    </div>
                    <div class="unit" id="hours">
                        <span>0</span>
                        <span>Hours</span>
                    </div>
                    <div class="unit" id="minutes">
                        <span>0</span>
                        <span>Minutes</span>
                    </div>
                    <div class="unit" id="seconds">
                        <span>0</span>
                        <span>Seconds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Events -->
    <!-- Start Articles -->
    <div class="right"><i class="fa-solid fa-circle-arrow-left fa-4x"></i></div>
    <div class="left"><i class="fa-solid fa-circle-arrow-right fa-4x"></i></div>
    <div class="spikes"></div>
    <!-- End Articles -->
    <!-- Start Stats -->
    <div class="stats" id="stats">
        <h2>Our Awesome Stats</h2>
        <div class="container">
            <div class="box">
                <i class="far fa-user fa-2x fa-fw"></i>
                <span class="number">0</span>
                <span class="text">Clients</span>
            </div>
            <div class="box">
                <i class="fas fa-home fa-2x fa-fw"></i>
                <span class="number">0</span>
                <span class="text">Real Estate</span>
            </div>
            <div class="box">
                <i class="fas fa-globe-asia fa-2x fa-fw"></i>
                <span class="number">0</span>
                <span class="text">City</span>
            </div>
        </div>
    </div>
    <!-- End Stats -->
    <!-- Start Footer -->
    <div class="footer">
        <div class="container">
            <div class="box">
                <h3>AQrat</h3>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/groups/httpswww.youtube.comchanneluc6jgfvnajkhsjyiyu/"
                           class="facebook" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/akaratassuit" class="twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ahlasyut2021/" class="instagram" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <p class="text">
                    AQrat services help you buy and sell real estate easily in addition to providing you with essential
                    information to
                    make one of the most important financial decisions in your life.
                </p>
            </div>
            <div class="box">
                <div class="line">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    <div class="info"> Egypt, Asyut </div>
                </div>
                <div class="line">
                    <i class="far fa-clock fa-fw"></i>
                    <div class="info"> Business Hours: From 10:00 AM To 10:00 BM </div>
                </div>
                <div class="line">
                    <i class="fas fa-phone-volume fa-fw"></i>
                    <div class="info">
                        <span>+201143117628</span>
                        <span>+201126842680</span>
                    </div>
                </div>
            </div>
            <div class="box footer-gallery">
                <img src="~/img/earth-globe.png" alt="" />
                <img src="~/img/graph.png" alt="" />
                <img src="~/img/location.png" alt="" />
                <img src="~/img/locations.png" alt="" />
                <img src="~/img/map.png" alt="" />
                <img src="~/img/pay.png" alt="" />
            </div>
        </div>
    </div>
    <!-- End Footer -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/home.js"></script>
</body>

</html>